body {
  margin: 0;
}

.container {
  margin: 0 20%;
}

/* HERO SECTION */

#hero {
  background-color: #707070;
  width: 100%;
  min-height: 300px;
  max-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-text-container {
  margin-bottom: 5%;
}

.hero-title {
  margin: 0;
  text-align: left;
}

.hero-subtitle {
  margin: 0;
  text-align: center;
}

.hero-button {
  margin-left: 50px;
}

/* ALGORITHM SECTION */

#algorithm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 0;
}

.left-side {
  flex-direction: column;
  margin-right: 5%;
  width: 70%;
}

.right-side {
  flex-direction: column;
  min-width: 35%;
}

#help-algorithm-form {
  width: 100%;
}

.form-input {
  padding: 0;
  margin-bottom: 1%;
}

.form-checkbox {
  display: flex;
  align-items: center;
  margin-top: 4%;
}

/* PRODUCTS SECTION */

#products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 0;
}

.section-title-center {
  text-align: center;
}

#product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  width: 20%;
  margin: 20px;
}

.product-img {
  width: 100%;
}

.new-price {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.button-card {
  width: 100%;
}

.button-section {
  width: 50%;
  height: 40px;
  margin: 50px 0;
}

/* SHARE SECTION */

#share {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-subtitle {
  text-align: center;
}

#newsteller-inline-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.inline-form {
  width: 75%;
  display: flex;
  margin-bottom: 50px;
}

.inline-form-input {
  width: 100%;
  margin: 0 15px;
}

.form-input {
  width: 100%;
}

/* FOOTER SECTION */

#footer {
  background-color: #707070;
  position: static;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding: 2% 0;
}

.footer-text {
  text-align: center;
}

/* UTILS */

.w-100 {
  width: 100%;
}

.bigger {
  font-size: 48px;
}
