body {
  margin: 0;
}

.container {
  margin: 0 20%;
}

/* HERO SECTION */

#hero {
  background-color: #707070;
  width: 100%;
  min-height: 300px;
  max-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-text-container {
  margin-bottom: 5%;
}

.hero-title {
  margin: 0;
  text-align: center;
}

.hero-subtitle {
  margin: 0;
  text-align: center;
}

.hero-button {
  margin-left: 50px;
}

/* ALGORITHM SECTION */

#algorithm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 0;
}

.left-side {
  flex-direction: column;
  margin-right: 5%;
  width: 70%;
}

.right-side {
  flex-direction: column;
  min-width: 35%;
}

#help-algorithm-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.form-input{
    margin-bottom: 1%;
}

.form-checkbox {
    display: flex;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 5%;
}